{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }
  }
{%- endstyle -%}

<footer class="footer mango-footer color-{{ section.settings.color_scheme }} gradient"
  {%- if section.settings.wave_image != blank -%}
    style="background-image: url('{{ section.settings.wave_image | image_url: width: 2000 }}'); background-position: bottom center; background-repeat: no-repeat; background-size: 100% auto;"
  {%- endif -%}
>

  <div class="mango-footer__content page-width">

    <!-- Column 1: Logo -->
    <div class="mango-footer__col mango-footer__col--logo">
      {%- if settings.brand_image != blank -%}
        <a href="{{ routes.root_url }}">
          {{
            settings.brand_image
            | image_url: width: 300
            | image_tag: loading: 'lazy', width: 140, class: 'mango-footer__logo'
          }}
        </a>
      {%- else -%}
        <a href="{{ routes.root_url }}" class="mango-footer__shop-name">{{ shop.name }}</a>
      {%- endif -%}
    </div>

    <div class="mango-footer__divider"></div>

    <!-- Column 2: Navigation -->
    <div class="mango-footer__col mango-footer__col--nav">
      {%- for block in section.blocks -%}
        {%- if block.type == 'link_list' and block.settings.menu != blank -%}
          <ul class="mango-footer__nav list-unstyled" {{ block.shopify_attributes }}>
            {%- for link in block.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" class="mango-footer__nav-link{% if link.active %} mango-footer__nav-link--active{% endif %}">
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="mango-footer__divider"></div>

    <!-- Column 3: Social + Copyright + Phone -->
    <div class="mango-footer__col mango-footer__col--contact">
      {%- render 'social-icons', class: 'mango-footer__social' -%}
      <div class="mango-footer__copyright">
        <p>&copy; Copyright {{ shop.name }}</p>
        <p>All Right Reserved.</p>
      </div>
      {%- if section.settings.phone != blank -%}
        <div class="mango-footer__phone">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M6.6 10.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V20c0 .6-.4 1-1 1-9.4 0-17-7.6-17-17 0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.3.2 2.5.6 3.6.1.3 0 .7-.2 1L6.6 10.8z"/>
          </svg>
          <span>{{ section.settings.phone }}</span>
        </div>
      {%- endif -%}
    </div>

  </div>

  <!-- Leaf decorations -->
  {%- if section.settings.left_leaf != blank -%}
    <div class="mango-footer__leaf mango-footer__leaf--left">
      {{
        section.settings.left_leaf
        | image_url: width: 400
        | image_tag: loading: 'lazy', alt: ''
      }}
    </div>
  {%- endif -%}
  {%- if section.settings.right_leaf != blank -%}
    <div class="mango-footer__leaf mango-footer__leaf--right">
      {{
        section.settings.right_leaf
        | image_url: width: 400
        | image_tag: loading: 'lazy', alt: ''
      }}
    </div>
  {%- endif -%}

  {%- if section.settings.payment_enable -%}
    <div class="mango-footer__payment page-width">
      <ul class="list list-payment" role="list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="list-payment__item">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}

</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone number",
      "placeholder": "02772-24561"
    },
    {
      "type": "header",
      "content": "Wave decoration"
    },
    {
      "type": "image_picker",
      "id": "wave_image",
      "label": "Wave background image"
    },
    {
      "type": "image_picker",
      "id": "left_leaf",
      "label": "Left leaf image"
    },
    {
      "type": "image_picker",
      "id": "right_leaf",
      "label": "Right leaf image"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": false,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
